@page
@model IdentityServerAspNetIdentity.Pages.Roles.ListRolesModel
@{
    ViewData["Title"] = "All Roles";
}

<h2>Roles</h2>

<table class="table">
    <thead>
        
        <tr><th>Role</th><th>Permissions</th></tr>        
        <tr>            
            <th>Role</th>            
            <th>Permissions</th>            
            <th>Actions</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RolesWithClaims)
        {
            <tr>
                <td>@item.RoleName</td>
                <td>
                    @if (item.Permissions.Any())
                    {
                        <ul>
                            @foreach (var p in item.Permissions)
                            {
                                <li>@p</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <em>(none)</em>
                    }
                </td>                
                <td>
                           <a asp-page="EditRole"
                                asp-route-roleName="@item.RoleName"
                                class="btn btn-sm btn-outline-primary">
                                 Edit                        
                    </a>               
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="CreateRole" class="btn btn-primary">New Role</a>
